@inherits NavBarBase

<nav class="navbar sticky-top navbar-expand navbar-custom p-0">
    <span class="navbar-brand logo-custom p-0 m-0"><img src="files/graphanaticlogo.svg"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse m-0" id="navbarNav">
        <ul class="navbar-nav mr-auto m-0">
            <li class="@NavElements[(int)NavChoice.File] p-2" @onclick="(() => Click(NavChoice.File))"><span class="pr-1 oi oi-file"></span>File</li>
            <li class="@NavElements[(int)NavChoice.Home] p-2" @onclick="(() => Click(NavChoice.Home))"><span class="pr-1 oi oi-home"></span>Home</li>
            <li class="@NavElements[(int)NavChoice.Insert] p-2" @onclick="(() => Click(NavChoice.Insert))"><span class="pr-1 oi oi-plus"></span>Insert</li>
            <li class="@NavElements[(int)NavChoice.View] p-2" @onclick="(() => Click(NavChoice.View))"><span class="pr-1 oi oi-magnifying-glass"></span>View</li>
            <li class="@NavElements[(int)NavChoice.Design] p-2" @onclick="(() => Click(NavChoice.Design))"><span class="pr-1 oi oi-pencil"></span>Design</li>
        </ul>
        <ul class="navbar-nav m-0">
            <li class="@NavElements[(int)NavChoice.About] p-2" @onclick="(() => Click(NavChoice.About))"><span class="oi oi-question-mark"></span></li>
        </ul>
    </div>
</nav>
