@namespace GraphIt.web.Pages.Design
@inherits DefaultEdgeBase

@if (Open)
{
    NavCss = "NavActive";
    OpenCss = "show";
}
else
{
    NavCss = "NavNone";
    OpenCss = "";
}

<li class="dropdown border-dark border-right @NavCss @OpenCss" data-toggle="tooltip" data-placement="bottom" title="Color">
    <button class="btn shadow-none" @onclick="(() => Open = !Open)" id="defedgecolor" aria-haspopup="true" aria-expanded="@Open">
        <span class="oi oi-brush" style="color:@DefaultOptions.EdgeColor"></span><span class="oi oi-text" style="color:@DefaultOptions.EdgeLabelColor"></span>
    </button>
    <div class="dropdown-menu @OpenCss" aria-labelledby="defedgecolor">
        <span class="dropdown-item">Fill <SfColorPicker Value="@DefaultOptions.EdgeColor" ValueChange="OnDefEdgeColorChange"></SfColorPicker></span>
        <span class="dropdown-item">Label <SfColorPicker Value="@DefaultOptions.EdgeLabelColor" ValueChange="OnDefEdgeLabelColorChange"></SfColorPicker></span>
    </div>
</li>
<li class="d-flex flex-row px-2 border-dark border-right">
    <div class="py-2">
        Width
    </div>
    <div class="p-custom">
        <input class="shortInput" type="number" Min=2 Max=20 step=1 value="@DefaultOptions.EdgeWidth" @onchange="OnDefWidthChange" />
    </div>
</li>