@namespace GraphIt.wasm.Pages.Design
@inherits DefaultNodeBase

@if (Open)
{
    NavCss = "NavActive";
    OpenCss = "show";
}
else
{
    NavCss = "NavNone";
    OpenCss = "";
}

<li class="dropdown border-dark border-right @OpenCss @NavCss" data-toggle="tooltip" data-placement="bottom" title="Color">
    <button class="btn shadow-none" @onclick="(() => Open = !Open)" id="nodedefcolor" aria-haspopup="true" aria-expanded="@Open">
        <span class="oi oi-brush" style="color:@DefaultOptions.NodeColor"></span><span class="oi oi-text" style="color:@DefaultOptions.NodeLabelColor"></span>
    </button>
    <div class="dropdown-menu @OpenCss" aria-labelledby="nodedefcolor">
        <span class="dropdown-item">Fill <SfColorPicker Value="@DefaultOptions.NodeColor" ValueChange="OnDefNodeColorChange"></SfColorPicker></span>
        <span class="dropdown-item">Label <SfColorPicker Value="@DefaultOptions.NodeLabelColor" ValueChange="OnDefNodeLabelColorChange"></SfColorPicker></span>
    </div>
</li>
<li class="d-flex flex-row px-2 border-dark border-right">
    <div class="py-2">
        Radius
    </div>
    <div class="p-custom">
        <input class="shortInput" type="number" Min=25 Max=150 step=1 value="@DefaultOptions.NodeRadius" @onchange="OnDefRadiusChange" />
    </div>
</li>
<li class="NavNone p-2" @onclick="async () => await Relabel.InvokeAsync(true)">Re-label</li>
