@inherits DesignBase
 
<nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
    <div class="text-center col-md-6 border-right border-dark">
        <div class="d-md-flex flex-row">
            <div class="font-weight-bold text-left">
                Default Node:
            </div>
            <div class="px-2">
                Radius <SfNumericTextBox TValue="int?" Value="@DefaultDesign.NodeRadius" CssClass="radius"
                                         Min=10 Max=100 Step=1 Format="###" @onchange="((e) => OnDefRadiusChange(e))"></SfNumericTextBox>
            </div>
            <div class="px-2">
                Color <SfColorPicker Value="@DefaultDesign.NodeColor" ValueChange="OnDefNodeColorChange"></SfColorPicker>
            </div>
            <div class="px-2">
                Label <SfColorPicker Value="@DefaultDesign.NodeLabelColor" ValueChange="OnDefNodeLabelColorChange"></SfColorPicker>
            </div>
        </div>
        @if (ActiveNode != null)
        {
            <div class="d-md-flex flex-row">
                <div class="font-weight-bold text-left">
                    Current Node:
                </div>
                <div class="px-2">
                    Radius <SfNumericTextBox TValue="int?" Value="@ActiveNode.Radius" Min=10 Max=100 Step=1 Format="###" CssClass="radius"
                  Placeholder="Radius" @onchange="((e) => OnRadiusChange(e))"></SfNumericTextBox>
                </div>
                <div class="px-2">
                    Color <SfColorPicker Value="@ActiveNode.NodeColor" ValueChange="OnNodeColorChange"></SfColorPicker>
                </div>
                <div class="px-2">
                    Label
                    @if (ActiveNode.Label == null)
                    {
                        <SfTextBox CssClass="radius" ValueChange="OnNodeLabelChange" Value="@(ActiveNode.NodeId.ToString())"></SfTextBox>
                    }
                    else
                    {
                        <SfTextBox CssClass="radius" ValueChange="OnNodeLabelChange" Value="@ActiveNode.Label"></SfTextBox>
                    }
                    <SfColorPicker Value="@ActiveNode.LabelColor" ValueChange="OnNodeLabelColorChange"></SfColorPicker>
                </div>
            </div>
        }
    </div>
</nav>
