@inherits FooterBase
<div class="footer d-flex flex-row py-0 my-0 align-items-center">
    <div class="px-2 border-right border-dark">
        <span class="pr-1">Nodes: @Nodes.Count</span>
        <span class="pl-1">Edges: @Edges.Count</span>
    </div>
    <div class="px-2 border-right border-dark">
        Mode: @GraphMode
    </div>
    @if (DefaultOptions.MultiGraph)
    {
        <span class="px-2 text-danger">
            @("MultiGraph")
        </span>
    }
    @if (GraphMode != GraphMode.Algorithm)
    {
        <div class="px-2">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" checked="@DefaultOptions.Weighted" id="wcheck" @onchange="OnDefWeightedChange">
                <label class="form-check-label" for="wcheck">Weighted</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" checked="@DefaultOptions.Directed" id="dcheck" @onchange="OnDefDirectedChange">
                <label class="form-check-label" for="dcheck">Directed</label>
            </div>
        </div>
    }
</div>
