@inherits FooterBase
<div class="footer d-flex flex-row py-0 my-0 align-items-center">
    <span class="px-2">
        Nodes: @Nodes.Count
    </span>
    <span class="px-2">
        Edges: @Edges.Count
    </span>
    <span class="px-2">
        Mode: @GraphMode
    </span>
    <span class="px-2 btn-group" role="group">
        <button id="" type="button" class="btn NavNone shadow-none py-0" @onclick="@(() => OnScaleClick(0.1))">-</button>
        Zoom
        @if (StopZoomIn)
        {
            <button type="button" class="btn btn-secondary py-0" disabled>+</button>
        }
        else
        {
            <button type="button" class="btn NavNone shadow-none py-0" @onclick="@(() => OnScaleClick(-0.1))">+</button>
        }
    </span>
    @if (DefaultOptions.MultiGraph)
    {
        <span class="px-2 text-danger">
            @("MultiGraph")
        </span>
    }
</div>
