@inherits InsertBase

@if (InsertNode)
{
    NodeCss = "NavActive";
}
else
{
    NodeCss = "NavNone";
}
@if (InsertEdge)
{
    EdgeCss = "NavActive";
}
else
{
    EdgeCss = "NavNone";
}
<li class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn @NodeCss shadow-none" @onclick="UpdateInsertNode">
        <input type="checkbox" autocomplete="off"> @("Node")
    </label>
    <label class="btn @EdgeCss shadow-none" @onclick="UpdateInsertEdge">
        <input type="checkbox" autocomplete="off"> @("Edge")
    </label>
</li>

<li class="dropdown px-1">
    <button class="btn shadow-none NavNone dropdown-toggle" type="button" id="saveas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Common Graphs
    </button>
    <div class="dropdown-menu" aria-labelledby="saveas">
        <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Cyclic)">Single Cyclic</a>
        <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Tree)">Tree (straight line)</a>
        <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Complete)">Clique</a>
        <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Star)">Star</a>
        <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.RBipartite)">Regular Bipartite</a>
        <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.CBipartite)">Complete Bipartite</a>
    </div>
</li>

@if (WantedGraph != null && !Loading)
{
    string Klabel = "Nodes: ";
    @if (WantedGraph == CommonGraph.CBipartite)
    {
        Klabel = "Left Nodes: ";
    }
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                @Klabel
                <SfNumericTextBox Min=1 Step=1 CssClass="shortInput" TValue="int?" @bind-Value="@numNodes"></SfNumericTextBox>
                @if (WantedGraph == CommonGraph.CBipartite)
                {
                    @("Right Nodes: ")
                    <SfNumericTextBox Min=1 Step=1 CssClass="shortInput" TValue="int?" @bind-Value="@KValue"></SfNumericTextBox>
                }
                else if (WantedGraph == CommonGraph.RBipartite)
                {
                    @("Degree (k): ")
                    <SfNumericTextBox Min=1 Step=1 CssClass="shortInput" TValue="int?" @bind-Value="@KValue"></SfNumericTextBox>
                }
                <SfButton CssClass="e-success" @onclick="CreateGraph">Done</SfButton>
                <SfButton CssClass="e-success" @onclick="(() => WantedGraph = null)">Cancel</SfButton>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
@if (ErrorCreatingGraph != "")
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <div class="text-center">
                    <p class="text-danger text-center">@ErrorCreatingGraph</p>
                    <SfButton CssClass="e-success" @onclick='(() => ErrorCreatingGraph = "")'>OK</SfButton>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
