@inherits InsertBase

<nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
    <div class="d-inline-flex">
        <div class="px-1">
            <SfCheckBox TChecked="bool" Label="Nodes" @onclick="UpdateInsertNode" Checked="InsertNode">Nodes</SfCheckBox>
        </div>
        <div class="px-1">
            <SfCheckBox TChecked="bool" Label="Edges" @onclick="UpdateInsertEdge" Checked="InsertEdge">Edges</SfCheckBox>
        </div>
        <div class="dropdown px-1">
            <button class="btn shadow-none NavNone dropdown-toggle" type="button" id="saveas" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Common Graphs
            </button>
            <div class="dropdown-menu" aria-labelledby="saveas">
                <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Cyclic)">Single Cyclic</a>
                <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Tree)">Tree (straight line)</a>
                <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Complete)">Clique</a>
                <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.Regular)">Regular</a>
                <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.RBipartite)">Regular Bipartite</a>
                <a class="dropdown-item" @onclick="(() => WantedGraph = CommonGraph.CBipartite)">Complete Bipartite</a>
            </div>
        </div>
    </div>
</nav>
@if (WantedGraph != null && !Loading)
{
    string Klabel = "Nodes: ";
    @if (WantedGraph == CommonGraph.CBipartite)
    {
        Klabel = "Left Nodes: ";
    }
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                @Klabel
                <SfNumericTextBox Min=1 Step=1 CssClass="shortInput" TValue="int?" @bind-Value="@numNodes"></SfNumericTextBox>
                @if (WantedGraph == CommonGraph.CBipartite)
                {
                    @("Right Nodes: ")
                    <SfNumericTextBox Min=1 Step=1 CssClass="shortInput" TValue="int?" @bind-Value="@KValue"></SfNumericTextBox>
                }
                else if (WantedGraph == CommonGraph.Regular || WantedGraph == CommonGraph.RBipartite)
                {
                    @("Degree (k): ")
                    <SfNumericTextBox Min=1 Step=1 CssClass="shortInput" TValue="int?" @bind-Value="@KValue"></SfNumericTextBox>
                }
                <SfButton CssClass="e-success" @onclick="CreateGraph">Done</SfButton>
                <SfButton CssClass="e-success" @onclick="(() => WantedGraph = null)">Cancel</SfButton>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
@if (Loading)
{
    <div class="spinner-border" role="status">
        <span class="sr-only">Graph In Making...</span>
    </div>
}
@if (ErrorCreatingGraph != "")
{
    <SfDialog Width="300px" IsModal="true">
        <DialogTemplates>
            <Content>
                <div class="text-center">
                    <p class="text-danger text-center">@ErrorCreatingGraph</p>
                    <SfButton CssClass="e-success" @onclick='(() => ErrorCreatingGraph = "")'>OK</SfButton>
                </div>
            </Content>
        </DialogTemplates>
    </SfDialog>
}
