@inherits NavBarBase

<nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
    <span class="navbar-brand logo-custom pl-2 pr-3 mx-0">GarphIt</span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mx-0" id="navbarNav">
        <ul class="navbar-nav mx-0">
            <li class="nav-item @NavElements[(int)NavChoice.File]" @onclick="(() => Click(NavChoice.File))">
                <button type="button" class="btn shadow-none">File</button>
            </li>
            <li class="nav-item @NavElements[(int)NavChoice.Home]" @onclick="(() => Click(NavChoice.Home))">
                <button type="button" class="btn shadow-none">Home</button>
            </li>
            <li class="nav-item @NavElements[(int)NavChoice.Insert]" @onclick="(() => Click(NavChoice.Insert))">
                <button type="button" class="btn shadow-none">Insert</button>
            </li>
            <li class="nav-item @NavElements[(int)NavChoice.View]" @onclick="(() => Click(NavChoice.View))">
                <button type="button" class="btn shadow-none">View</button>
            </li>
            <li class="nav-item @NavElements[(int)NavChoice.Node]" @onclick="(() => Click(NavChoice.Node))">
                <button type="button" class="btn shadow-none">Node</button>
            </li>
            <li class="nav-item @NavElements[(int)NavChoice.Edge]" @onclick="(() => Click(NavChoice.Edge))">
                <button type="button" class="btn shadow-none">Edge</button>
            </li>
            <li class="nav-item @NavElements[(int)NavChoice.About]" @onclick="(() => Click(NavChoice.About))">
                <button type="button" class="btn shadow-none">About</button>
            </li>
        </ul>
    </div>
    <div style="width: 100%" @onclick=Reset>
        &nbsp
    </div>
</nav>
