@inherits NodeOptionsBase

<nav class="navbar sticky-top navbar-expand navbar-custom py-0 px-0">
    <div class="text-center">
        <div class="d-flex">
            @if (!ActiveNodes.Any())
            {
                <div class="px-2">
                    Default:
                </div>
                <div class="px-1">
                    Radius <SfNumericTextBox TValue="int?" Value="@DefaultOptions.NodeRadius" CssClass="shortInput"
                                             Min=10 Max=100 Step=1 Format="###" @onchange="((e) => OnDefRadiusChange(e))"></SfNumericTextBox>
                </div>
                <div class="px-1">
                    Color <SfColorPicker Value="@DefaultOptions.NodeColor" ValueChange="OnDefNodeColorChange"></SfColorPicker>
                </div>
                <div class="px-1">
                    Label <SfColorPicker Value="@DefaultOptions.NodeLabelColor" ValueChange="OnDefNodeLabelColorChange"></SfColorPicker>
                </div>
            }
            else if (ActiveNodes.Count == 1)
            {
                <div class="px-2">
                    Selected:
                </div>
                <div class="px-1">
                    Radius <SfNumericTextBox TValue="int?" Value="@ActiveNodes.ElementAt(0).Radius" Min=10 Max=100 Step=1 Format="###" CssClass="shortInput"
                                             @onchange="((e) => OnRadiusChange(e))"></SfNumericTextBox>
                </div>
                <div class="px-1">
                    Color <SfColorPicker Value="@ActiveNodes.ElementAt(0).NodeColor" ValueChange="OnNodeColorChange"></SfColorPicker>
                </div>
                <div class="px-1">
                    Label
                    <SfTextBox CssClass="shortInput" ValueChange="OnNodeLabelChange" Value="@ActiveNodes.ElementAt(0).Label"></SfTextBox>
                    <SfColorPicker Value="@ActiveNodes.ElementAt(0).LabelColor" ValueChange="OnNodeLabelColorChange"></SfColorPicker>
                </div>
                <button type="button" class="btn NavNone shadow-none" @onclick="OnRecenter">Re-Center</button>
            }
            else
            {
                <div class="px-2">
                    Selected:
                </div>
                <div class="px-1">
                    Radius <SfNumericTextBox TValue="int?" Min=10 Max=100 Step=1 Format="###" CssClass="shortInput" @onchange="((e) => OnRadiusChange(e))"></SfNumericTextBox>
                </div>
                <div class="px-1">
                    Color <SfColorPicker Value="@ActiveNodes.ElementAt(0).NodeColor" ValueChange="OnNodeColorChange"></SfColorPicker>
                </div>
                <div class="px-1">
                    Label
                    <SfTextBox CssClass="shortInput" ValueChange="OnNodeLabelChange"></SfTextBox>
                    <SfColorPicker Value="@ActiveNodes.ElementAt(0).LabelColor" ValueChange="OnNodeLabelColorChange"></SfColorPicker>
                </div>
            }
            <button type="button" class="btn NavNone shadow-none" @onclick="OnRelabel">Re-label</button>
        </div>
    </div>
</nav>